/*https://bootsnipp.com/snippets/featured/user-profile-sidebar*/
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  /*color: #5a7391;*/
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  /*color: #5b9bd1;*/
  color: #C4DFE6;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
/*end of profile styling*/

/*EXPERIMENT STYLING*/
.navbar {
  background-image: none;
  background-color: #003B46;
}

.dropdown {
  font-size: 12px;
  font-weight: 600;
}


/*END OF EXPERIMENT STYLING*/


body,html{
  height: 100%;
}

.setHeight{
  height: 100%;
}
.profilePic{
  max-height:150px;
  margin-left: 21px;
}
nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main{
  padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

  .main{
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }

  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
  }

  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a{
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li:first-child{
    /*border-top: 1px #e5e5e5 solid;*/
  }

  nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*padding for entire sidebar within container*/
  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 15px 0px 0px 0px;
  }
  /*padding for entire sidebar within container*/

  /*module drop down*/
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #C4DFE6;
    /*font-size: 12px;*/
    /*font-weight: 600;*/
  }
  /*end of module dropdown*/

  nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover{
    margin-left: 0px;
  }

  .forAnimate{
    opacity: 0;
  }
}

@media (min-width: 1330px) {

  .main{
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  nav.sidebar{
    margin-left: 0px;
    float: left;
  }

  nav.sidebar .forAnimate{
    opacity: 1;
  }
}

 /*hover style*/
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  /*color: #66A5AD;*/
  background-color: #66A5AD;
  /*background-color: #003B46;*/
  /*padding-top: 0;*/
  /*padding-left:0;*/
  /*margin-top:0;*/
  /*margin-bottom:0;*/

}
/*hover style*/

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}

