<nav class="navbar navbar-inverse sidebar setHeight" >
  <div class="container-fluid" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <div class="row">
            <div class="col-xs-12">
              <!--<img class="profilePic" src="{{ currentUser.imagePath }}" alt="profile pic">-->

              <!--sidebar profile-->
              <div class="profile-userpic">
                <img src="{{  userService.user.imagePath }}" class="img-responsive" alt="">
              </div>
              <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                  {{userService.user.firstName + ' ' + userService.user.lastName}}
                </div>
                <div class="profile-usertitle-job">
                  {{userService.user.course}} <br> {{'Year ' + userService.user.yearOfStudy}}
                </div>
              </div>
              <!--sidebar profile-->
            </div>
          </div>
        </li>

        <!--previous sample-->
        <!--<li class="active">-->
          <!--<a>CEG<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home">-->
          <!--</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li ><a>CEG<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>-->

        <!--course button-->
        <li routerLinkActive="active" class="dropdown" appDropdown >
          <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/home/{{userService.user.firstName}}/course">{{ userService.user.course }}<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a>Requests</a></li>
            <li><a>Expand</a></li>
          </ul>
        </li>

        <li routerLinkActive="active" class="dropdown" appDropdown  *ngFor="let module of userService.user.modules">
          <a routerLink="/home/{{userService.user.firstName}}/{{module.moduleName}}/wall" class="dropdown-toggle" data-toggle="dropdown">{{ module.moduleName }}<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a routerLink="/home/{{userService.user.firstName}}/{{module.moduleName}}/description">Description</a></li>
            <li><a routerLink="/home/{{userService.user.firstName}}/{{module.moduleName}}/wall">Wall</a></li>
            <li><a routerLink="/home/{{userService.user.firstName}}/{{module.moduleName}}/chat">Chat Box</a></li>
            <!--<li routerLinkActive="active"><a routerLink="/home/:user/:module/mod-mates">Current Module Mates</a></li>-->
          </ul>
        </li>
      </ul>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
