errorMessage{
  color:red;
}

.container {
  min-height: 100%;
  background-color: #3c8dbc;
}

.coloring_class {
  background-color: #3c8dbc;
  min-height: 100%;
}
/*body {*/
  /*min-height: 100%;*/
  /*background-color: #3c8dbc;*/
/*}*/

/*html, body {*/
  /*height:100%;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*background-color: #3c8dbc;*/
/*}*/
