<div class="row">
  <div class="col-xs-12 modHeader">
    <h1>{{currentModStr}} / Chatroom</h1>
  </div>
</div>
<hr>
<br>
<br>
<!--<br>-->
<br>
<br>



<div class="row">
  <div class="col-xs-12  chat-container">
    <!--participant bar-->
    <div class="col-xs-2 participant-bar rounded">
      <h4 class="display-3">Participants
        <span class="badge" >{{currMembers.length}}</span></h4>
      <hr>
      <ul>
        <li *ngFor="let member of currMembers" [innerHtml]="member"></li>
      </ul>
    </div>
    <!--CHAT AREA-->
    <div class="col-xs-10 chat-area">
      <div class="row input-field">
        <div class="input-group">
          <!--<span class="input-group-addon" id="basic-addon1">{{this.currUser.firstName}}</span>-->
          <input type="submit text"
                 class="form-control"
                 (keyup.enter)="enterClicked()"
                 placeholder="Type your message here!"
                 aria-describedby="basic-addon2"
                 [(ngModel)]="typedMessage">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="sendNewMessage()">
              <span class="glyphicon glyphicon-send"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="row chat-display">
        <ul class="list-group">
          <li class="list-group-item"
              [ngClass]="{'alt-msg-display':i%2===0}"
              *ngFor="let msg of messages; let i = index"
              [innerHtml]="msg">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
