<body>
<div class="row">
  <div class="col col-xs-offset-10" *ngIf="!newPost">
    <button class="btn btn-primary bringDown" (click)="onPressed()">Add New Post</button>
  </div>
  <div *ngIf="newPost" class="col col-lg-offset-2 bringDown">
    <br>

    <div class="col-xs-8">
      <input
        type="text"
        class="form-control"
        placeholder="Title"
        [(ngModel)] = "title">
    </div>
    <br>
    <br>
    <div >
      <quill-editor [(ngModel)]="editorContent"
                    [options]="editorOptions"></quill-editor>
      <button class="btn btn-primary" (click)="clicked()">
        Submit
      </button>

    </div>
  </div>



  <div *ngIf="!newPost" class="col col-lg-offset-2">
    <div id="main">
      <div id="content">
        <div *ngFor="let x of Posts">
          <article>
            <header class="art-header">
              <h2 class="title">
                <a href="#">{{x.title}} {{module}}</a>
              </h2>
              <span>Created by: {{x.user.firstName}} {{x.user.lastName}}</span>
            </header>
            <p [innerHTML] = "x.content"></p>
          </article>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</body>



